/*GENERAL*/
body{
  background-color: #343E78
}
.container{
  background-color:#FFFFFF; 
  margin-top: 20px;
  margin-botton: 20px;
}
hr{
  height: 2px;
  background-color: #343e78;
}
h4{
  color: #57585A;
}
/* END GENERAL*/
/*FOOTER*/
footer div{
  margin-top: 15px;
}
/*END FOOTER*/
.about{
   color:  #c5c6c7;
}
.about a{
  color: #ffffff;
}