/*MAIN*/
.experiences{
  margin-top: 40px;
}
.progress-height{
  height: 30px;
}
.skill-container{
  margin-top: 10px;
}
.blue-sub-bg{
  background-color: #12628B;
}
.blue-bg{
  background-color: #343E78;
}
.red-sub-bg{
  background-color: #EF464A;
}
.red-bg{
  background-color: #B3363A;
}
/*END MAIN*/